In [1]:
import numpy as np
import pandas as pd
from numpy import array
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import sklearn
from sklearn.linear_model import LogisticRegression

In [2]:
pd.set_option( "display.max_columns", None)

data  = pd.read_csv("application_train.csv")

In [3]:
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
## Dataset Dimensions
data.shape

(307511, 122)

In [5]:
## checking if any categorical Features are there in the Dataset
categorical_data = data.select_dtypes(exclude=[np.number])
print ("There are {} categorical Columns in the Dataset".format(categorical_data.shape[1]))

There are 16 categorical Columns in the Dataset

In [6]:
categorical_list = []
numerical_list = []
for i in data.columns.tolist():
    if data[i].dtype=='object':
        categorical_list.append(i)
    else:
        numerical_list.append(i)
print('Number of categorical features:', str(len(categorical_list)))
print('Number of numerical features:', str(len(numerical_list)))

Number of categorical features: 16
Number of numerical features: 106

In [7]:
#lets find the count of null values

data.isnull().sum().sort_values(ascending=False)

COMMONAREA_MEDI                214865
COMMONAREA_AVG                 214865
COMMONAREA_MODE                214865
NONLIVINGAPARTMENTS_MODE       213514
NONLIVINGAPARTMENTS_MEDI       213514
                                ...
REG_CITY_NOT_LIVE_CITY              0
LIVE_REGION_NOT_WORK_REGION         0
REG_REGION_NOT_WORK_REGION          0
HOUR_APPR_PROCESS_START             0
SK_ID_CURR                          0
Length: 122, dtype: int64

In [8]:
#lets put all the variables with missing values and their percentage in a table

def missing_values_table(df):
    missing_values= df.isnull().sum()
    
    # Percentage of missing values
    
    missing_percentage = 100 *df.isnull().sum() /len(df)
    
    missing_values_table = pd.concat([missing_values, missing_percentage],axis=1)
    
    missing_val_table_columns = missing_values_table.rename(columns={0 : 'Missing Values', 1 : '% of Missing Values'})
    
    missing_val_table_columns = missing_val_table_columns[
            missing_val_table_columns.iloc[:,1] != 0].sort_values(
        '% of Missing Values', ascending=False).round(1)
    
    return missing_val_table_columns



# Lets see the missing value table
missing_values_table(data)

                          Missing Values  % of Missing Values
COMMONAREA_MEDI                   214865                 69.9
COMMONAREA_AVG                    214865                 69.9
COMMONAREA_MODE                   214865                 69.9
NONLIVINGAPARTMENTS_MEDI          213514                 69.4
NONLIVINGAPARTMENTS_MODE          213514                 69.4
...                                  ...                  ...
EXT_SOURCE_2                         660                  0.2
AMT_GOODS_PRICE                      278                  0.1
AMT_ANNUITY                           12                  0.0
CNT_FAM_MEMBERS                        2                  0.0
DAYS_LAST_PHONE_CHANGE                 1                  0.0

[67 rows x 2 columns]

In [9]:
(missing_values_table(data)).head(49)

                              Missing Values  % of Missing Values
COMMONAREA_MEDI                       214865                 69.9
COMMONAREA_AVG                        214865                 69.9
COMMONAREA_MODE                       214865                 69.9
NONLIVINGAPARTMENTS_MEDI              213514                 69.4
NONLIVINGAPARTMENTS_MODE              213514                 69.4
NONLIVINGAPARTMENTS_AVG               213514                 69.4
FONDKAPREMONT_MODE                    210295                 68.4
LIVINGAPARTMENTS_MODE                 210199                 68.4
LIVINGAPARTMENTS_MEDI                 210199                 68.4
LIVINGAPARTMENTS_AVG                  210199                 68.4
FLOORSMIN_MODE                        208642                 67.8
FLOORSMIN_MEDI                        208642                 67.8
FLOORSMIN_AVG                         208642                 67.8
YEARS_BUILD_MODE                      204488                 66.5
YEARS_BUILD_MEDI                      204488                 66.5
YEARS_BUILD_AVG                       204488                 66.5
OWN_CAR_AGE                           202929                 66.0
LANDAREA_AVG                          182590                 59.4
LANDAREA_MEDI                         182590                 59.4
LANDAREA_MODE                         182590                 59.4
BASEMENTAREA_MEDI                     179943                 58.5
BASEMENTAREA_AVG                      179943                 58.5
BASEMENTAREA_MODE                     179943                 58.5
EXT_SOURCE_1                          173378                 56.4
NONLIVINGAREA_MEDI                    169682                 55.2
NONLIVINGAREA_MODE                    169682                 55.2
NONLIVINGAREA_AVG                     169682                 55.2
ELEVATORS_MEDI                        163891                 53.3
ELEVATORS_MODE                        163891                 53.3
ELEVATORS_AVG                         163891                 53.3
WALLSMATERIAL_MODE                    156341                 50.8
APARTMENTS_MODE                       156061                 50.7
APARTMENTS_MEDI                       156061                 50.7
APARTMENTS_AVG                        156061                 50.7
ENTRANCES_MODE                        154828                 50.3
ENTRANCES_AVG                         154828                 50.3
ENTRANCES_MEDI                        154828                 50.3
LIVINGAREA_MEDI                       154350                 50.2
LIVINGAREA_MODE                       154350                 50.2
LIVINGAREA_AVG                        154350                 50.2
HOUSETYPE_MODE                        154297                 50.2
FLOORSMAX_MEDI                        153020                 49.8
FLOORSMAX_AVG                         153020                 49.8
FLOORSMAX_MODE                        153020                 49.8
YEARS_BEGINEXPLUATATION_AVG           150007                 48.8
YEARS_BEGINEXPLUATATION_MEDI          150007                 48.8
YEARS_BEGINEXPLUATATION_MODE          150007                 48.8
TOTALAREA_MODE                        148431                 48.3
EMERGENCYSTATE_MODE                   145755                 47.4

In [10]:


from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
credit_encode = data
encoder=LabelEncoder()

In [11]:
credit_encode['NAME_CONTRACT_TYPE'] = encoder.fit_transform(credit_encode['NAME_CONTRACT_TYPE'].astype(str))
credit_encode['NAME_HOUSING_TYPE'] = encoder.fit_transform(credit_encode['NAME_HOUSING_TYPE'].astype(str))
credit_encode['NAME_FAMILY_STATUS'] = encoder.fit_transform(credit_encode['NAME_FAMILY_STATUS'].astype(str))
credit_encode['NAME_EDUCATION_TYPE'] = encoder.fit_transform(credit_encode['NAME_EDUCATION_TYPE'].astype(str))
credit_encode['NAME_INCOME_TYPE'] = encoder.fit_transform(credit_encode['NAME_INCOME_TYPE'].astype(str))
credit_encode['FLAG_OWN_REALTY'] = encoder.fit_transform(credit_encode['FLAG_OWN_REALTY'].astype(str))
credit_encode['FLAG_OWN_CAR'] = encoder.fit_transform(credit_encode['FLAG_OWN_CAR'].astype(str))
credit_encode['CODE_GENDER'] = encoder.fit_transform(credit_encode['CODE_GENDER'].astype(str))
credit_encode['ORGANIZATION_TYPE'] = encoder.fit_transform(credit_encode['ORGANIZATION_TYPE'].astype(str))
credit_encode['WEEKDAY_APPR_PROCESS_START'] = encoder.fit_transform(credit_encode['WEEKDAY_APPR_PROCESS_START'].astype(str))
credit_encode['NAME_CONTRACT_TYPE'] = encoder.fit_transform(credit_encode['NAME_CONTRACT_TYPE'].astype(str))
credit_encode['OCCUPATION_TYPE'] = encoder.fit_transform(credit_encode['OCCUPATION_TYPE'].astype(str))
credit_encode['NAME_TYPE_SUITE'] = encoder.fit_transform(credit_encode['NAME_TYPE_SUITE'].astype(str))
credit_encode['FONDKAPREMONT_MODE'] = encoder.fit_transform(credit_encode['FONDKAPREMONT_MODE'].astype(str))
credit_encode['HOUSETYPE_MODE'] = encoder.fit_transform(credit_encode['HOUSETYPE_MODE'].astype(str))

In [12]:
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,1,0,1,0,202500.0,406597.5,24700.5,351000.0,6,7,4,3,1,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,8,1.0,2,2,6,10,0,0,0,0,0,0,5,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,3,0,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,1,4,1,1,1,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,3,2.0,1,1,1,11,0,0,0,0,0,0,39,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,3,0,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,1,1,1,0,67500.0,135000.0,6750.0,135000.0,6,7,4,3,1,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,8,1.0,2,2,1,9,0,0,0,0,0,0,11,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,0,0,1,0,135000.0,312682.5,29686.5,297000.0,6,7,4,0,1,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,8,2.0,2,2,6,17,0,0,0,0,0,0,5,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,1,0,1,0,121500.0,513000.0,21865.5,513000.0,6,7,4,3,1,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,3,1.0,2,2,4,11,0,0,0,0,1,1,37,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
data.drop(['EMERGENCYSTATE_MODE', 'TOTALAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BEGINEXPLUATATION_MEDI',
            'YEARS_BEGINEXPLUATATION_AVG', 'FLOORSMAX_MODE', 'FLOORSMAX_AVG', 'FLOORSMAX_MEDI', 'HOUSETYPE_MODE', 
            'LIVINGAREA_AVG', 'LIVINGAREA_MODE', 'LIVINGAREA_MEDI', 'ENTRANCES_MEDI', 'ENTRANCES_AVG',
            'ENTRANCES_MODE', 'APARTMENTS_AVG', 'APARTMENTS_MEDI', 'APARTMENTS_MODE', 'WALLSMATERIAL_MODE', 'ELEVATORS_AVG', 
             'ELEVATORS_MODE', 'ELEVATORS_MEDI', 'NONLIVINGAREA_AVG', 'NONLIVINGAREA_MODE', 'NONLIVINGAREA_MEDI',
             'EXT_SOURCE_1', 'BASEMENTAREA_MODE', 'BASEMENTAREA_AVG', 'BASEMENTAREA_MEDI', 'LANDAREA_MODE', 'LANDAREA_MEDI', 
             'LANDAREA_AVG',  'YEARS_BUILD_AVG', 'YEARS_BUILD_MEDI', 'YEARS_BUILD_MODE', 'FLOORSMIN_AVG', 
             'FLOORSMIN_MEDI', 'FLOORSMIN_MODE', 'LIVINGAPARTMENTS_AVG', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAPARTMENTS_MODE', 
             'FONDKAPREMONT_MODE', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAPARTMENTS_MEDI', 
             'COMMONAREA_MODE',  'COMMONAREA_AVG', 'COMMONAREA_MEDI', 'OWN_CAR_AGE', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR', 
            'HOUR_APPR_PROCESS_START', 'SK_ID_CURR', 'DAYS_REGISTRATION', 'REGION_POPULATION_RELATIVE', 'FLAG_EMAIL',
           'DAYS_ID_PUBLISH', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START','DAYS_LAST_PHONE_CHANGE',
           'DEF_60_CNT_SOCIAL_CIRCLE','OBS_60_CNT_SOCIAL_CIRCLE','DEF_30_CNT_SOCIAL_CIRCLE','OBS_30_CNT_SOCIAL_CIRCLE',
           'EXT_SOURCE_3','EXT_SOURCE_2','FLAG_DOCUMENT_14','FLAG_DOCUMENT_13','FLAG_DOCUMENT_12','FLAG_DOCUMENT_11',
           'FLAG_DOCUMENT_10','FLAG_DOCUMENT_9','FLAG_DOCUMENT_8','FLAG_DOCUMENT_7','FLAG_DOCUMENT_6','FLAG_DOCUMENT_5',
           'FLAG_DOCUMENT_4','FLAG_DOCUMENT_3','FLAG_DOCUMENT_2','AMT_REQ_CREDIT_BUREAU_WEEK','AMT_REQ_CREDIT_BUREAU_MON',
           'AMT_REQ_CREDIT_BUREAU_DAY','AMT_REQ_CREDIT_BUREAU_HOUR','FLAG_DOCUMENT_21',
           'FLAG_DOCUMENT_20','FLAG_DOCUMENT_19','FLAG_DOCUMENT_18',
           'FLAG_DOCUMENT_17','FLAG_DOCUMENT_16','FLAG_DOCUMENT_15', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 
           'FLAG_PHONE','CNT_FAM_MEMBERS','REGION_RATING_CLIENT',
           'REG_REGION_NOT_LIVE_REGION','REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION','REG_CITY_NOT_LIVE_CITY', 
           'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY'], axis=1,inplace=True)

In [15]:
data.fillna((0), inplace=True)

In [16]:
data.isnull().sum()

# Checking if there is anything left out

TARGET                 0
NAME_CONTRACT_TYPE     0
CODE_GENDER            0
FLAG_OWN_CAR           0
FLAG_OWN_REALTY        0
CNT_CHILDREN           0
AMT_INCOME_TOTAL       0
AMT_CREDIT             0
AMT_ANNUITY            0
AMT_GOODS_PRICE        0
NAME_TYPE_SUITE        0
NAME_INCOME_TYPE       0
NAME_EDUCATION_TYPE    0
NAME_FAMILY_STATUS     0
NAME_HOUSING_TYPE      0
DAYS_BIRTH             0
DAYS_EMPLOYED          0
FLAG_MOBIL             0
OCCUPATION_TYPE        0
ORGANIZATION_TYPE      0
dtype: int64

In [ ]:
#from here down is what we need to build our model.

In [22]:
data.to_csv('application_train_cleaned.csv')

In [23]:
df  = pd.read_csv("application_train_cleaned.csv")

In [24]:
df.head(10)

,Unnamed: 0,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,OCCUPATION_TYPE,ORGANIZATION_TYPE
0,0,1,0,1,0,1,0,202500.0,406597.5,24700.5,351000.0,6,7,4,3,1,-9461,-637,1,8,5
1,1,0,0,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,1,4,1,1,1,-16765,-1188,1,3,39
2,2,0,1,1,1,1,0,67500.0,135000.0,6750.0,135000.0,6,7,4,3,1,-19046,-225,1,8,11
3,3,0,0,0,0,1,0,135000.0,312682.5,29686.5,297000.0,6,7,4,0,1,-19005,-3039,1,8,5
4,4,0,0,1,0,1,0,121500.0,513000.0,21865.5,513000.0,6,7,4,3,1,-19932,-3038,1,3,37
5,5,0,0,1,0,1,0,99000.0,490495.5,27517.5,454500.0,5,4,4,1,1,-16941,-1588,1,8,33
6,6,0,0,0,1,1,1,171000.0,1560726.0,41301.0,1395000.0,6,1,1,1,1,-13778,-3130,1,0,5
7,7,0,0,1,1,1,0,360000.0,1530000.0,42075.0,1530000.0,6,4,1,1,1,-18850,-449,1,10,33
8,8,0,0,0,0,1,0,112500.0,1019610.0,33826.5,913500.0,0,3,4,1,1,-20099,365243,1,18,57
9,9,0,1,1,0,1,0,135000.0,405000.0,20250.0,405000.0,6,7,4,3,1,-14469,-2019,1,8,9

In [25]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [26]:
df.head(10)

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,OCCUPATION_TYPE,ORGANIZATION_TYPE
0,1,0,1,0,1,0,202500.0,406597.5,24700.5,351000.0,6,7,4,3,1,-9461,-637,1,8,5
1,0,0,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,1,4,1,1,1,-16765,-1188,1,3,39
2,0,1,1,1,1,0,67500.0,135000.0,6750.0,135000.0,6,7,4,3,1,-19046,-225,1,8,11
3,0,0,0,0,1,0,135000.0,312682.5,29686.5,297000.0,6,7,4,0,1,-19005,-3039,1,8,5
4,0,0,1,0,1,0,121500.0,513000.0,21865.5,513000.0,6,7,4,3,1,-19932,-3038,1,3,37
5,0,0,1,0,1,0,99000.0,490495.5,27517.5,454500.0,5,4,4,1,1,-16941,-1588,1,8,33
6,0,0,0,1,1,1,171000.0,1560726.0,41301.0,1395000.0,6,1,1,1,1,-13778,-3130,1,0,5
7,0,0,1,1,1,0,360000.0,1530000.0,42075.0,1530000.0,6,4,1,1,1,-18850,-449,1,10,33
8,0,0,0,0,1,0,112500.0,1019610.0,33826.5,913500.0,0,3,4,1,1,-20099,365243,1,18,57
9,0,1,1,0,1,0,135000.0,405000.0,20250.0,405000.0,6,7,4,3,1,-14469,-2019,1,8,9

In [27]:
X = df.drop('TARGET', axis = 1)
y = df.TARGET

In [28]:
X.shape, y.shape

((307511, 19), (307511,))

In [29]:
# Scale the data to be between -1 and 1
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X=scaler.fit_transform(X)

from sklearn.decomposition import PCA
pca = PCA()
pca.fit_transform(X)

array([[ 0.45749094, -1.6202789 , -0.15129578, ...,  0.02499178,
         0.78358131,  0.00305994],
       [ 1.87554609,  1.74132299, -1.09307465, ...,  0.66405605,
        -0.25341616,  0.09905527],
       [-1.08976411, -2.53236852,  1.6152535 , ...,  0.07723596,
        -0.15589649,  0.01612438],
       ...,
       [ 0.22958838,  0.1806729 , -0.69286893, ...,  0.02072514,
        -0.32895277,  0.04754306],
       [-0.1761585 , -1.00130917, -0.24634565, ...,  0.10225567,
         0.46361668, -0.0082886 ],
       [ 1.31731258,  0.79897042, -1.50992074, ..., -1.13989845,
         0.02594958, -0.0982421 ]])

In [32]:
X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [33]:
log_model = LogisticRegression()
log_model.fit(X_train,y_train)

LogisticRegression()

In [34]:
y_pred = log_model.predict(X_test)

In [35]:
print("Testing Accuracy :", log_model.score(X_test, y_test))
print("Training Accuracy :", log_model.score(X_train,y_train))

Testing Accuracy : 0.9207705715549311
Training Accuracy : 0.9187540378003148

In [36]:

import pickle

In [37]:
pickle.dump(log_model, open('model.pkl', 'wb'))